.wrapper {
	display: block;
	height: var(--height);
	margin: 0;
	padding: 0;
	border: none;
	background: var(--background-color);
	cursor: pointer;
	text-align: center;
	font: inherit;
	color: var(--text-color);

	font-size: calc(15 / 16 * 1rem);
	line-height: 19px;
	font-weight: 700;
}

.wrapper:hover {
	background: var(--background-color-hover);
}

.wrapper:focus {
	outline-offset: 2px;
}

.wrapper:focus:not(:focus-visible) {
	outline: none;
}
