.wrapper {
	position: fixed;
	top: calc(var(--top) - var(--indicator-height) / 2);
	left: var(--left);
	width: calc(var(--width, 280px) - 12px * 2);
	height: var(--indicator-height);
	background: white;
	border-radius: calc(var(--indicator-height) / 2);
}
