.wrapper {
	--border-width: 1px;
	height: calc(96px + var(--border-width));
	background: #2b2c37;
	border-bottom: var(--border-width) solid #3e3f4e;

	display: flex;
}

.logoSection {
	min-width: 210px;
	position: relative;
}

.logoWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	height: min-content;
	transform: translateX(24px);
}

.border {
	width: 1px;
	background: #828fa3;
}

.headerSection {
	position: relative;

	flex: 1;

	padding-right: 8px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.boardName {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 24px;
	height: min-content;
	margin-top: auto;
	margin-bottom: auto;

	transform: translateY(2px);

	font-size: calc(24 / 16 * 1rem);
	font-weight: 700;
	color: white;
	line-height: 30px;
}

.controlGroup {
	display: flex;
	align-items: stretch;
	gap: 8px;
}

.buttonWrapper {
	width: 164px;
}

.iconButtonWrapper {
	position: relative;
}
